header.header
    navbar.nav
        .container
            .nav__wrapper
                a.nav__logo(href="#")
                    img(src="static/images/general/logo-white.png", alt="logo")
                .block-title
                    .title Стать авторизованным партнёром
                    .subtitle Legrand with Netatmo