.radio-box
    .radio
        input#radio_1.radio__input(name='male' type='radio')
        label.radio__label(for='radio_1') Мама
    .radio
        input#radio_2.radio__input(name='male' type='radio')
        label.radio__label(for='radio_2') Папа