.wrapper
  div
    select.select#sel(name='select' maxlength="3")
      option(disabled='') Выбрать...
      option(value='HTML') HTML
      option(value='JavaScript') JavaScript
      option(value='PHP') PHP
      option(value='PHP') PHP
      option(value='PHP') PHP
      option(value='PHP') PHP
      option(value='PHP') PHP
.container
  .checkbox
    input#checkbox_1.checkbox__input(type='checkbox')
    label.checkbox__label(for='checkbox_1') &Pcy;&rcy;&ocy;&chcy;&icy;&tcy;&acy;&lcy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &scy;&acy;&jcy;&tcy;&ocy;&mcy;
  .radio
    input#radio_1.radio__input(name='male' type='radio')
    label.radio__label(for='radio_1') &Mcy;&ucy;&zhcy;
  .radio
    input#radio_2.radio__input(name='male' type='radio')
    label.radio__label(for='radio_2') &ZHcy;&iecy;&ncy;
