.select {
    display: block;
    width: 380px;

    background: #FFFFFF;
    position: relative;
    max-width: 380px;
    height: 46px;

    font-family: DIN Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;


    color: #3F3356;
  }

  .new-select {
    width: 380px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    border: 1px solid #61587C;
  }

  .new-select__list {
    border: 1px solid #ced4da;
    cursor: pointer;
    position: absolute;
    top: 61px;
    left: 0;
    max-height: 204px;
    max-width: 380px;
    width: 100%;
    overflow: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(63, 51, 86, 0.15);
    border-radius: 8px;
    color: #D0C9D6;
    padding: 10px 25px;
    z-index: 99;
  }

  .new-select__list.on {
    display: block;
    color: $lilac;
    font-weight: 500;
  }

  .new-select__item span {
    display: block;
    padding: 15px 0;
  }

  .new-select__item span:hover {
    color: $lilac;
  }

  .new-select:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid $lilac;
    border-width: 2px 0 0 2px;
    position: absolute;
    right: 18px;
    top: 40%;
    fill: $main-color;
    opacity: 0.6;
    transform: rotate(-135deg) translate(50%);
    z-index: 9;
  }

  .new-select.on:after {
    transform: rotate(45deg) translateY(40%);
  }