ul.tabs-nav
    li(data-tab-name="tab-1").tabs-nav__item.tabs-nav__item--active Таб 1
    li(data-tab-name="tab-2").tabs-nav__item Таб 2

.tabs-content
    .tabs-content__item.tab-1.tabs-content__item--active
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, eum. Facere atque necessitatibus ducimus, itaque esse laudantium iusto assumenda, odio nulla quaerat saepe at quia obcaecati soluta, consequatur ipsum nihil eum! Quaerat repellendus iure mollitia, vero sunt doloremque nesciunt repellat quod sit dolores nisi eaque fugit necessitatibus impedit quas ipsam accusantium. Aliquam eligendi dolore excepturi harum delectus labore nemo eius necessitatibus amet consequatur laborum magni cumque nesciunt cum, fuga aut dolorem ab consectetur a sed quos suscipit dolores quam. Porro quas repellat neque architecto cupiditate vitae at labore magnam minima ullam quasi amet, similique iste assumenda sunt praesentium ad rerum.
    .tabs-content__item.tab-2
        p 2
