header {
    flex: 0 0 auto;
}

.header {}

.nav {
    background: #61587C;
    padding: 30px 0;

    &__logo {
        position: absolute;
        left: 0;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}